#categories{
    vertical-align: middle;
}

.header{
    background-color: #f9c7a6;
    display: inline-block;
}
.header img{
    width: 150px;
    height: 100px;
}
.header img:hover{
    background: #f43b69;
    color: #f43b69;
    border: 2px solid #f43b69;
    margin: -2px;
    border-radius: 35px;
    content: attr(title);
}